@import "tailwindcss";

@tailwind utilities;

html, body, #root { height: 100%; }
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000; /* 黑底 */
  color: rgb(229 231 235);
}

